<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/update.css">
</head>
<body>
<div class="contentsWrap">
    <form action="/signIn/confirmLogin" th:object="${loginForm}" method="post">
        <div class="loginWindow">
            <img alt="" src="../img/instagramLogo.png">
            <h1 class="font_color">아이디와 비밀번호를 다시한번 입력해주시길 바랍니댜.</h1>
            <input type="text" id="id" th:field="*{id}" name="id" th:errorclass="field-error" placeholder="이메일"
                   class="inlineToBlock">
            <div class="field-error" th:errors="*{id}"/>
            <input type="password" id="password" name="password" th:field="*{password}" th:errorclass="field-error"
                   class="inlineToBlock" placeholder="비밀번호">
            <div class="field-error" th:errors="*{password}"/>
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
            </div>
            <button type="submit" class="inlineToBlock ordinaryLogin activatedLoginColor">비밀번호 변경</button>
        </div>
    </form>
</div>
</body>
</html>