<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유저 관리 페이지</title>
</head>
<body>
<h1>유저 관리 페이지 입니다.</h1>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">아이디</th>
        <th scope="col">닉네임</th>
        <th scope="col">이름</th>
        <th scope="col">전화번호</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}" class="table-success">
        <th:block th:if="${member.adminRight != 'ADMIN'}">
            <td th:text="${member.userId}"></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.phone}"></td>
            <td>
                <form th:action="@{/manage/remove/{userId} (userId = ${member.userId})}" method="post">
                    <button type="submit">계정 삭제</button>
                </form>
            </td>
        </th:block>
    </tr>
    </tbody>
</table>
</body>
</html>