<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>비밀번호 변경</title>
</head>
<body>
<div class="contentsWrap">
    <form action="/signIn/passwordChange" method="post">
        <div class="loginWindow">
            <img alt="" src="../img/instagramLogo.png">
            <h1 class="font_color">새로운 비밀번호를 입력해주세요.</h1>
            <input type="hidden" id="userId" th:name="userId" th:value="${userId}">
            <input type="password" id="password" name="password" class="inlineToBlock" placeholder="비밀번호">
            <button type="submit" onclick="alert('비밀번호가 변경되었습니다.')"
                    class="inlineToBlock ordinaryLogin activatedLoginColor">비밀번호 변경
            </button>
        </div>

    </form>
</div>
</body>
</html>
