<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>홈</title>
</head>
<body>
<div class="contentsWrap">
    <form action="signIn/login" th:object="${loginForm}" method="post">
        <div class="loginWindow">
            <img src="img/instagramLogo.png" alt="">
            <input type="text" id="id" th:field="*{id}" name="id" th:errorclass="field-error" placeholder="사용자 이메일"
                   class="inlineToBlock">
            <div class="field-error" th:errors="*{id}"/>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="비밀번호"
                   class="inlineToBlock">
            <div class="field-error" th:errors="*{password}"/>

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
            </div>
            <button type="submit" class="inlineToBlock ordinaryLogin activatedLoginColor">로그인</button>
            <a class="button_signup" onclick="location.href='/find/password'">비밀번호를 잊으셨나요?</a>
        </div>
    </form>
    <div class="haveAccount">
        <p>계정이 없으신가요?
            <a class="noneunderline" onclick="location.href='/signup/register'">가입하기</a>
        </p>
    </div>
</div>
</body>
</html>

