<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>회원 가입</title>
</head>
<body>
<div class="contentsWrap">
    <form action="/signup/register" th:object="${memberForm}" method="post">
        <div class="loginWindow">
            <img alt="" src="../img/instagramLogo.png">
            <h2 class="font_color">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
            <input type="text" th:field="*{userId}" th:errorclass="field-error" id="userId" name="userId"
                   placeholder="이메일 주소" class="inlineToBlock">
            <div class="field-error" th:errors="*{userId}"/>
            <input type="text" id="name" name="name" placeholder="성명" class="inlineToBlock">
            <input type="text" id="nickname" name="nickname" placeholder="닉네임" class="inlineToBlock">
            <input th:field="*{phone}" th:errorclass="field-error" type="text" id="phone" name="phone"
                   placeholder="전화번호" class="inlineToBlock">
            <div class="field-error" th:errors="*{phone}"/>
            <input type="password" id="password" name="password" class="inlineToBlock" th:field="*{password}"
                   th:errorclass="field-error"
                   placeholder="비밀번호">
            <div class="field-error" th:errors="*{password}"/>
            <input type="password" id="authPassword" name="authPassword" class="inlineToBlock" placeholder="비밀번호 확인">
            <div th:if="${#fields.globalErrors()}">
                <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
            </div>
            <button type="submit" class="inlineToBlock ordinaryLogin activatedLoginColor">가입</button>
        </div>
    </form>
    <div class="haveAccount">
        <p>계정이 이미 있으신가요?
            <a class="noneunderline" onclick="location.href='/'">로그인</a>
        </p>
    </div>
</div>
</body>
</html>