<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <style>
    .field-error{
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
  <title>회원 가입</title>
</head>
<body>
<h2>회원가입</h2>
<form action="/signup/enroll" th:object="${memberForm}" method="post">
  <label for="userId">아이디</label>
  <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요.">
  <br>
  <label for="password">비밀번호</label>
  <input type="password" id="password" name="password" aria-describedby="passwordHelp" placeholder="비밀번호를 입력하세요.">
  <br>
  <small id="passwordHelp" class="form-text text-muted">비밀번호는 특수문자 포함 15자 내로 해주세요.</small>
  <br>
  <label for="authPassword">비밀번호 재입력</label>
  <input type="password" id="authPassword" name="authPassword" placeholder="비밀번호를 다시 입력해주세요.">
  <br>
  <label for="nickname">닉네임</label>
  <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력해주세요.">
  <br>
  <label for="name">이름</label>
  <input type="text" id="name" name="name" placeholder="이름을 입력해주세요.">
  <br>
  <label for="phone">전화번호</label>
  <input type="text" id="phone" name="phone" placeholder="전화번호를 입력해주세요.">
  <br>
  <button type="submit" class="btn btn-lg">회원가입</button>
</form>
</body>
</html>