<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>비밀번호 재설정</title>
</head>
<body>
<div class="contentsWrap">
    <form action="/find/password" th:object="${findPasswordDto}" method="post">
        <div class="loginWindow">
            <br>
            <img alt="" src="../img/lock.png" class="lock">
            <h3>로그인에 문제가 있나요?</h3>
            <h6 class="font_size">이메일 주소, 전화번호, 사용자 이름을 입력하시면 가입하신 이메일에 임시 비밀번호를 보내드립니다.</h6>
            <input type="text" th:field="*{userId}" th:errorclass="field-error" name="userId" id="userId"
                   placeholder="아이디" class="inlineToBlock">
            <div class="field-error" th:errors="*{userId}"/>
            <input type="text" th:field="*{name}" class="inlineToBlock" th:errorclass="field-error" name="name" id="name"
                   placeholder="이름">
            <div class="field-error" th:errors="*{name}"/>
            <input type="text" name="phone" id="phone" class="inlineToBlock" th:field="*{phone}" th:errorclass="field-error"
                   placeholder="전화번호">
            <div class="field-error" th:errors="*{phone}"/>
            <div th:if="${#fields.globalErrors()}">
                <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
            </div>
            <button class="inlineToBlock ordinaryLogin activatedLoginColor" type="submit">비밀번호 찾기</button>
        </div>
    </form>
</div>

</body>
</html>