<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
<h1>아이디와 이름, 전화번호를 입력해주세요.</h1>
<form action="/find/password" th:object="${findPasswordDto}" method="post">
    <div>
        <label for="userId">아이디</label>
        <input type="text" th:field="*{userId}" th:errorclass="field-error" name="userId" id="userId"
               placeholder="아이디를 입력해주세요.">
        <div class="field-error" th:errors="*{userId}"/>
    </div>
    <div>
        <label for="name">이름</label>
        <input type="text" th:field="*{name}" th:errorclass="field-error" name="name" id="name" placeholder="이름을 입력해주세요.">
        <div class="field-error" th:errors="*{name}"/>
    </div>
    <div>
        <label for="phone">전화번호</label>
        <input type="text" name="phone" id="phone" th:field="*{phone}" th:errorclass="field-error" placeholder="전화번호를 입력해주세요.">
        <div class="field-error" th:errors="*{phone}"/>
    </div>
    <div th:if="${#fields.globalErrors()}">
        <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <button type="submit">비밀번호 찾기</button>
</form>
</body>
</html>